.App{
  background-color: rgb(134, 141, 141);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide any global scrollbars */
}

#root {
  height: 100%;
}